#header .topHeader {
  background-color: #002040;
  color: white;
}

#header .topHeader .leftTop {
  margin-left: 20px;
}

#header .topHeader .leftTop span {
  font-size: 13px;
}

#header .topHeader .rightTop ul li a i {
  color: white;
  padding: 7px;
  border-left: 1px solid #334d66;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#header .topHeader .rightTop ul li a i:hover {
  background: #ffb600;
  color: #002e5b;
  border-color: #ffb600;
}

#header .midHeader {
  padding: 20px 0 5px 0;
  background-color: #002e5b;
}

#header .midHeader .contact {
  color: white;
}

#header .midHeader .contact .boxMid {
  padding: 0 40px;
  position: relative;
}

#header .midHeader .contact .boxMid i {
  position: absolute;
  left: 0;
  top: 10%;
  font-size: 2rem;
}

#header .midHeader .contact .boxMid span {
  font-weight: bold;
  font-size: 16px;
}

#header .midHeader .contact .boxMid p {
  font-size: 14px;
}

#header .botHeader {
  background-color: #ffb600;
  padding: 0 35px;
  position: relative;
  z-index: 1;
}

#header .botHeader .menu {
  width: 42%;
  margin: auto;
}

#header .botHeader .menu ul li a {
  display: block;
  text-decoration: none;
  padding: 18px 10px;
  color: black;
  font-weight: 600;
  font-size: 14px;
  position: relative;
}

#header .botHeader .menu ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15%;
  width: 0%;
  height: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #002040;
}

#header .botHeader .menu ul li a:hover::before {
  width: 70%;
}

#header .botHeader .menu ul li.servicesMenu {
  position: relative;
}

#header .botHeader .menu ul li.servicesMenu ul {
  width: 150px;
  position: absolute;
  top: 100%;
  left: 0%;
  border: 1px solid rgba(99, 99, 99, 0.264);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  background: white;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#header .botHeader .menu ul li.servicesMenu ul li a {
  padding: 10px;
  color: #0f0f0f;
  border-bottom: 0.5px solid rgba(15, 15, 15, 0.35);
  cursor: pointer;
}

#header .botHeader .menu ul li.servicesMenu ul li a::before {
  content: none;
}

#header .botHeader .menu ul li.servicesMenu ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #002040;
}

#header .botHeader .menu ul li.servicesMenu:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#header .botHeader .menu ul li.pagesBig .bigMenu {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 70%;
  padding: 20px;
  background-color: white;
  z-index: 1;
  border: 1px solid rgba(99, 99, 99, 0.264);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#header .botHeader .menu ul li.pagesBig .bigMenu .pagesBox {
  margin-top: 10px;
  width: 25%;
  padding: 0 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.242);
}

#header .botHeader .menu ul li.pagesBig .bigMenu .pagesBox ul li a {
  display: block;
  padding: 5px;
  font-weight: normal;
  color: #0f0f0f;
}

#header .botHeader .menu ul li.pagesBig .bigMenu .pagesBox ul li a::before {
  content: none;
}

#header .botHeader .menu ul li.pagesBig .bigMenu .pagesBox ul li a h6 {
  font-weight: bold;
}

#header .botHeader .menu ul li.pagesBig .bigMenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #002040;
}

#header .botHeader .menu ul li.pagesBig:hover .bigMenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#header .botHeader .navIcon {
  position: absolute;
  top: 15px;
  right: 10px;
  display: none;
}

#header .botHeader .navIcon i {
  color: black;
  font-size: 18px;
}

.slideConst {
  width: 100%;
}

.slideConst .slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slideConst .slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: 3s ease;
  transition: 3s ease;
}

.slideConst .slider ul li {
  width: 100%;
}

.slideConst .slider ul li img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slideConst .slider .next,
.slideConst .slider .prev {
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: white;
  background-color: #ffb600;
  padding: 8px 15px;
  border-radius: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slideConst .slider .next:hover,
.slideConst .slider .prev:hover {
  background-color: #002040;
}

.slideConst .slider .next {
  right: 15px;
}

.slideConst .slider .prev {
  left: 15px;
}

.slideConst .slider .text {
  width: 40%;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
}

.slideConst .slider .text h1 {
  font-weight: bold;
}

.slideConst .slider .text span {
  display: block;
}

.slideConst .slider .text .buttons {
  width: 65%;
  margin: auto;
}

.slideConst .slider .text .buttons a {
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 13px 28px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.slideConst .slider .text .buttons a.yellow {
  background: #ffb600;
  margin-right: 20px;
}

.slideConst .slider .text .buttons a.dark {
  background-color: #002e5b;
}

.slideConst .slider .text .buttons a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  border-radius: 5px;
  background-color: #000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.slideConst .slider .text .buttons a:hover::before {
  z-index: -1;
  width: 100%;
  left: 0%;
}

.house .topBox {
  position: absolute;
  bottom: -200px;
  left: 10%;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.house .topBox .boxHouse {
  text-align: center;
  color: white;
  background-color: #002040;
  padding: 40px;
  position: relative;
  overflow: hidden;
  height: 40vh;
  border-radius: 5px;
}

.house .topBox .boxHouse .img {
  width: 50%;
  margin: auto;
}

.house .topBox .boxHouse h5 {
  font-weight: bold;
  margin: 15px 0;
}

.house .topBox .boxHouse span {
  font-size: 16px;
}

.house .topBox .boxHouse.first {
  background-image: url(http://www.themesindustry.com/html/buildingx/images/detail1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -25px;
  margin-top: 20px;
}

.house .topBox .boxHouse.yellow {
  background-image: url(http://www.themesindustry.com/html/buildingx/images/detail2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -25px;
}

.house .topBox .boxHouse.end {
  background-image: url(http://www.themesindustry.com/html/buildingx/images/detail3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}

.house .topBox .boxHouse::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -5%;
  width: 60%;
  height: 200%;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  background: rgba(255, 255, 255, 0.13);
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.13)), to(rgba(255, 255, 255, 0.13)));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
}

.house .topBox .boxHouse:hover::after {
  opacity: 1;
  left: 125%;
  -webkit-transition-property: left, top, opacity;
  transition-property: left, top, opacity;
  -webkit-transition-duration: 0.8s, 0.9s, 0.15s;
          transition-duration: 0.8s, 0.9s, 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.about {
  padding: 3rem 2rem 0 2rem;
  margin-top: 3rem;
}

.about .botBox {
  padding: 3rem;
}

.about .botBox .allBox {
  padding: 2rem;
}

.about .botBox .allBox h1 {
  border-bottom: 1px solid rgba(170, 167, 167, 0.462);
}

.about .botBox .allBox h1 p {
  display: inline;
  border-bottom: 3px solid #ffb600;
}

.about .botBox .allBox span {
  display: block;
  margin: 30px 0;
}

.about .botBox .allBox .imgsBox .bildBox {
  position: relative;
  padding: 15px 40px;
}

.about .botBox .allBox .imgsBox .bildBox a img {
  position: absolute;
  top: 40%;
  left: 0;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.about .botBox .allBox .imgsBox .bildBox h5 {
  font-weight: bold;
  font-size: 23px;
}

.about .botBox .box {
  margin-top: 3rem;
}

.about .botBox .box img {
  height: 500px;
}

.feature {
  background: url(http://www.themesindustry.com/html/buildingx/images/parallax1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #002e5b;
  width: 100%;
}

.feature .topMenu {
  width: 60%;
  margin: auto;
  padding: 2rem;
  color: white;
  text-align: center;
}

.feature .topMenu h2 {
  padding: 20px 0;
  color: white;
  font-weight: 700;
}

.feature .topMenu ul {
  width: 80%;
  margin: auto;
}

.feature .topMenu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
}

.feature .botImgs {
  width: 80%;
  margin: auto;
}

.feature .botImgs .allBox {
  position: relative;
  margin-bottom: 2rem;
}

.feature .botImgs .allBox img {
  border-radius: 10px;
}

.feature .botImgs .allBox .overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  border-radius: 10px;
  background-color: #ffb700d3;
  overflow: hidden;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.feature .botImgs .allBox .overlay h6 {
  position: absolute;
  bottom: 15%;
  left: 5%;
}

.feature .botImgs .allBox .overlay span {
  position: absolute;
  bottom: 4%;
  left: 5%;
}

.feature .botImgs .allBox:hover .overlay {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

@media (max-width: 762px) {
  #header .topHeader {
    display: none;
  }
  #header .midHeader {
    display: none;
  }
  #header .botHeader {
    height: 50px;
    width: 100%;
    position: fixed;
  }
  #header .botHeader .menu {
    position: absolute;
    top: 20%;
    width: 100%;
    left: 0;
    background-color: #ffb600;
    opacity: 0;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    visibility: hidden;
    height: 200px;
  }
  #header .botHeader .menu ul li a {
    padding: 5px 15px;
    font-size: 12px;
  }
  #header .botHeader .menu ul li a::before {
    content: none;
  }
  #header .botHeader .menu.navActive {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  #header .botHeader .navIcon {
    display: block;
  }
  .slideConst .slider ul li img {
    height: 40vh;
  }
  .slideConst .slider .text {
    width: 60%;
  }
  .slideConst .slider .text h1 {
    font-size: 14px;
  }
  .slideConst .slider .text span {
    font-size: 12px;
  }
  .slideConst .slider .text .buttons a {
    font-size: 8px;
    padding: 12px;
    text-align: center;
  }
  .house .topBox {
    width: 100%;
    position: static;
  }
  .house .topBox .boxHouse {
    margin: 0;
    height: 60vh;
  }
  .house .topBox .boxHouse.first {
    margin: 0;
  }
  .house .topBox .boxHouse.end {
    margin: 0;
  }
  .about {
    margin-top: 20px;
    padding: 0;
  }
  .about .botBox {
    margin: 0;
    padding: 0;
  }
  .about .botBox .allBox {
    padding: 10px;
  }
  .about .botBox .allBox h1 {
    font-size: 22px;
  }
  .about .botBox .allBox span {
    font-size: 13px;
  }
  .about .botBox .allBox .imgsBox .bildBox {
    margin: 0;
    padding-bottom: 0;
  }
  .about .botBox .allBox .imgsBox .bildBox h5 {
    font-size: 15px;
  }
  .about .botBox .allBox .imgsBox .bildBox p {
    font-size: 14px;
  }
  .feature .topMenu {
    width: 100%;
  }
  .feature .topMenu ul {
    width: 100%;
  }
  .feature .topMenu ul li a {
    font-size: 14px;
    margin-left: 25px;
  }
  .feature .botImgs {
    padding: 0;
    margin: 0 auto;
  }
  .feature .botImgs .allBox img {
    width: 470px;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */