#header {
    .topHeader {
        background-color: #002040;
        color: white;
        .leftTop {
            margin-left: 20px;

            span {
                font-size: 13px;
            }
        }

        .rightTop {
            ul {
                li {
                    a {
                        i {
                            color: white;
                            padding: 7px;
                            border-left: 1px solid #334d66;
                            transition: 0.3s ease-in-out;

                            &:hover {
                                background: #ffb600;
                                color: #002e5b;
                                border-color: #ffb600;
                            }
                        }
                    }
                }
            }
        }
    }

    // topHeader end 

    .midHeader {
        padding: 20px 0 5px 0;
        background-color: #002e5b;

        .contact {
            color: white;

            .boxMid {
                padding: 0 40px;
                position: relative;

                i {
                    position: absolute;
                    left: 0;
                    top: 10%;
                    font-size: 2rem;
                }

                span {
                    font-weight: bold;
                    font-size: 16px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    // midHeader end 
    .botHeader {
        background-color: #ffb600;
        padding: 0 35px;
        position: relative;
        z-index: 1;
        .menu {
            width: 42%;
            margin: auto;

            ul {
                display: flex;
                li {
                    a {
                        display: block;
                        text-decoration: none;
                        padding: 18px 10px;
                        color: black;
                        font-weight: 600;
                        font-size: 14px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 15%;
                            width: 0%;
                            height: 5px;
                            transition: 0.5s;
                            background-color: #002040;

                        }

                        &:hover {
                            &::before {
                                width: 70%;
                            }
                        }
                    }

                    // servicesMenu start 
                    &.servicesMenu {
                        position: relative;

                        ul {
                            width: 150px;
                            position: absolute;
                            top: 100%;
                            left: 0%;
                            border: 1px solid rgba(99, 99, 99, 0.264);
                            visibility: hidden;
                            opacity: 0;
                            z-index: 1;
                            background: white;
                            transition: 0.6s ease-in-out;
                            transform: translateY(5px);

                            li {
                                a {
                                    padding: 10px;
                                    color: #0f0f0f;
                                    border-bottom: 0.5px solid rgba(15, 15, 15, .35);
                                    cursor: pointer;

                                    &::before {
                                        content: none;
                                    }
                                }
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0%;
                                width: 100%;
                                height: 5px;
                                transition: 0.5s;
                                background-color: #002040;
                            }
                        }

                        &:hover {
                            ul {
                                visibility: visible;
                                opacity: 1;
                                transform: translateY(-10px);
                            }
                        }
                    }

                    // servicesMenu end 
                    // pagesBigmenu start 
                    &.pagesBig {
                        .bigMenu {
                            position: absolute;
                            top: 100%;
                            left: 10%;
                            width: 70%;
                            padding: 20px;
                            background-color: white;
                            z-index: 1;
                            border: 1px solid rgba(99, 99, 99, 0.264);
                            visibility: hidden;
                            opacity: 0;
                            transform: translateY(5px);
                            transition: 0.4s ease-in-out;


                            .pagesBox {
                                margin-top: 10px;
                                width: 25%;
                                padding: 0 20px;
                                border-right: 1px solid rgba(128, 128, 128, 0.242);

                                ul {
                                    li {
                                        a {
                                            display: block;
                                            padding: 5px;
                                            font-weight: normal;
                                            color: #0f0f0f;

                                            &::before {
                                                content: none;
                                            }

                                            h6 {
                                                font-weight: bold;
                                            }

                                        }
                                    }
                                }
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0%;
                                width: 100%;
                                height: 5px;
                                transition: 0.5s;
                                background-color: #002040;
                            }

                        }

                        &:hover {
                            .bigMenu {
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(-10px);

                            }
                        }

                    }

                    // pagesBigmenu end 
                }
            }
        }
        .navIcon {
            position: absolute;
            top: 15px;
            right: 10px;
            // display: none;
            i {
                color: black;
                font-size: 18px;
            }
        }
    }
   
}

// header end 


// alinmayan slider 
// constSlide start 

// .constSlide{
//     position: relative;
//     .slideShow{
//         .slideBox{
//             width: 100%;
//             // display: none;
//             img{
//                 width: 100%;
//                 height: 100%;
//             }
//             .textBox{
//                 position: absolute;
//                 top: 30%;
//                 left: 40%;
//                 transform: translate(-40%,-30%);
//                 width: 50%;
//                 margin: auto;
//                 background-color: red;
//             }
//         }
//         .next,.prev{
//             position: absolute;
//             top: 50%;
//             font-size: 25px;
//             color: red;
//             transform: translateY(-50%);
//         }
//         .next{
//             right: 15px;
//         }
//         .prev{
//             left: 15px;
//         }
//     }
// }

// ---------------------------------------- 
// alinan slider 

.slideConst {
    width: 100%;
    .slider {
        width: 100%;
        margin: auto;
        overflow: hidden;
        position: relative;

        ul {
            display: flex;
            position: relative;
            left: 0;
            transition: 3s ease;

            li {
                width: 100%;

                img {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .next,
        .prev {
            position: absolute;
            top: 50%;
            font-size: 20px;
            color: white;
            background-color: #ffb600;
            padding: 8px 15px;
            border-radius: 10px;
            transform: translateY(-50%);
            transition: 0.4s;

            &:hover {
                background-color: #002040;
            }
        }

        .next {
            right: 15px;
        }

        .prev {
            left: 15px;
        }

        .text {
            width: 40%;
            margin: auto;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -45%);

            h1 {
                font-weight: bold;
            }

            span {
                display: block;
            }

            .buttons {
                width: 65%;
                margin: auto;

                a {
                    margin-top: 20px;
                    text-align: center;
                    display: inline-block;
                    text-decoration: none;
                    color: white;
                    font-size: 15px;
                    font-weight: 600;
                    padding: 13px 28px;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;

                    &.yellow {
                        background: #ffb600;
                        margin-right: 20px;
                    }

                    &.dark {
                        background-color: #002e5b;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 0;
                        height: 100%;
                        border-radius: 5px;
                        background-color: #000;
                        transition: 0.5s ease-in-out;
                    }

                    &:hover {
                        &::before {
                            z-index: -1;
                            width: 100%;
                            left: 0%;
                        }
                    }
                }
            }
        }
    }

}

// slider end 





// responsive start 
@media(max-width:762px){
    #header{
        .topHeader{
            display: none;
        }
        .midHeader{
            display: none;
        }
        .botHeader{
            height: 50px;
            position: relative;
            .menu {
                position: absolute;
                top: 20%;
                width: 100%;
                left: 0;
                background-color: #ffb600;
                opacity: 0;
                transition: 0.3s ease-in;
                visibility: hidden;
                height: 200px;
                ul {
                    li {
                        a {
                            padding: 5px 15px ;
                            font-size: 12px;
                            &::before {
                                content: none;
                            }
                        }
                    }
                }

                &.navActive {
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }
        }
    }
    // header end 
    .slideConst{
        .slider{
            .text{
                width: 60%;
                h1{
                    font-size: 14px;
                }
                span{
                    font-size: 12px;
                }
                .buttons{
                    a{
                        font-size: 8px;
                        padding: 12px;
                        text-align: center;
                    }

                }
               
            }

        }
    }
}
